body {
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background: rgba(0,0,0,0.1);
}

.panel {
  position: relative;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0 1px 0px 0px rgba(0,0,0,0.03), 0 0px 0px 1px rgba(0,0,0,0.01);
  margin-bottom: 18px;
  min-height: 228px;
  padding: 5px;
  box-sizing: border-box;
  h3.label {
    display: block;
    color: #373d48;
    font-size: 14px;
    font-weight: bold;
    line-height: 10px;
    padding: 5px;
  }
  .link {
    display: block;
    width: 100%;
    text-align: center;
    color: dimgray;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      color: rgba(105, 105, 105, 0.705);
    }
  }
}

.btn {
  display: block;
  width: 100%;
  margin: 10px 0 0;
  height: auto;
  box-shadow: none;
  font-size: 15px;
  line-height: 42px;
  padding: 0;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;

  &.btn-green {
    color: #fff;
    border-color: #65C07D;
    background: #65C07D;
  }
}